body {
    background-color: black;
    color: #0f0;
    font: bold 12px Consolas,Courier New,monospace;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.bordered div{
    width: 100%;
    padding:10px;
    border-radius: 10px;
    border: 1px #0f0 solid;
    background-color: #171717;
}

.emphesize {
    background-color: rgba(0,255,0,.5);
}

.memory {
    flex:1;
}

.texteditor {
    flex:2;
}

.outlined {
    border-collapse: collapse;
    margin:auto;
}
.outlined tr,td{
    border: 1px #0f0 solid;
}

.padding{
    padding:5px;
}

#codebody {
    background-color: black;
    color: #0f0;
    width: 100%;
    height: 100%;
    resize: none;
    border:none;
    outline:none;
}

.input {
    background-color: black;
    color: #0f0;
    width: 20px;
    height: 20px;
    resize: none;
    outline: none;
    border:0px;
}

.button {
    text-decoration: none;
    color:#0f0;
    padding:3px;
    border-radius: 4px;
    transition-duration: .2s;
    font-size:medium;
}

.button:hover{
    background-color: #0f0;
    color: #000000;
}